* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.full-screen{
    height: 100vh;
    position: relative;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

.red{
    color: yellow;
    background-color: red;
}

.green{
    color: yellow;
    background-color: green;
}

.yellow{
    color: green;
    background-color: yellow;
}

h2{
    font-size: 50px;
}

.menu{
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 1;
}

ul{
    list-style-type: none;
}

.menu a{
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    padding: 10px 15px;
}

.menu li{
    display: inline-block;
}